body{
    font-family: Arial, Helvetica, sans-serif; /*Police de toute la page*/

    margin: 0px; /*Pour qu'il n'y ai pas d'écart entre les éléments et les côtés de base*/
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header header"
                          "menu main"
                          "footer footer" ;
    grid-gap: 0px; /*écart entre les différentes parties    */
}
header{
    grid-area: header;
    text-align: center; /*Centrer le header*/
    background-color: black;
    color: white;
    font-size: 2em;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    text-decoration: underline;
    font-family: DotGothic16;
}
#navMenu{
    grid-area: menu;
    color: white;
    background-color: rgb(63, 63, 63);
    text-align: center;
    border: solid; 
    border-color: rgb(175, 175, 175);
}
#Menu{
    font-size: 1.5em;
    padding-bottom: 10px;
    text-decoration: underline;
}
#ulMenu{
    padding-left: 10px; 
    padding-right: 10px;
    list-style-type: none; 
    line-height: 2em; 
    font-weight: bold;
}
main{
    grid-area: main;
    padding-left: 15px;
}
footer{
    grid-area: footer;
    background-color: black;
    color: white;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: small;
}
a:link, a:visited{
    color: white;
    text-decoration:none; 
} 
a:hover{
    color:rgb(106, 155, 158);
}
img{
    height: 256px;
}
table{
    border-collapse: collapse;
    margin: auto;
    border: solid;
}
td{
    border: solid;
    padding: 5px;
}
#marioPiti{
    height: 108px;

}
#dkPiti{
    height: 180px;
}
#linkPiti{
    height: 255px;
}
.imageDescription{
    border:solid;
    float: right;
}
#samu{
    height: 75px;
}
#yoshi{
    height: 150px;
}
#Kirby{
    height: 72px;
}
#fox{
    height: 129px;
}
#Pikachu{
    height: 201px;
}
#Mario2{
    height: 129px;
}
#sans{
    height: 126px;
}
#CF{
    height: 309px;
}
#RDD{
    height: 111px;
}